#Backhome LAN
IP-CIDR,192.168.11.0/16,no-resolve
IP-CIDR,172.17.0.0/16,no-resolve
IP-CIDR,172.18.0.0/24,no-resolve
IP-CIDR,172.19.0.0/16,no-resolve

#Homelab
DOMAIN,agh.757191.xyz
DOMAIN,wrt.757191.xyz
DOMAIN,qbit.757191.xyz
DOMAIN,hmd.757191.xyz
DOMAIN,memos.757191.xyz
DOMAIN,immich.757191.xyz
DOMAIN,linkding.757191.xyz
DOMAIN,jellyfin.757191.xyz
DOMAIN,navidrome.757191.xyz
DOMAIN,sonarr.757191.xyz
DOMAIN,radarr.757191.xyz
DOMAIN,seerr.757191.xyz
DOMAIN,read.757191.xyz
DOMAIN,aria2.757191.xyz
DOMAIN,homelab.757191.xyz
