#自定义
IP-CIDR,119.29.29.88/32,no-resolve
IP-CIDR,119.29.29.90/32,no-resolve
DOMAIN-SUFFIX,log.aliyuncs.com,pre-matching
DOMAIN-SUFFIX,umc.danuoyi.alicdn.com,pre-matching
DOMAIN-SUFFIX,referee.xiaohongshu.com,pre-matching
DOMAIN-SUFFIX,gepush.com,pre-matching
DOMAIN-SUFFIX,getui.net,pre-matching
DOMAIN-SUFFIX,bugly.qq.com,pre-matching
DOMAIN-SUFFIX,gdt.qq.com,pre-matching
DOMAIN-SUFFIX,e.qq.com,pre-matching
DOMAIN-SUFFIX,uyunad.com,pre-matching
DOMAIN,fp-it.fengkongcloud.com,pre-matching
DOMAIN,sofire.baidu.com,pre-matching
DOMAIN,open.e.kuaishou.cn,pre-matching
DOMAIN,open.e.kuaishou.com,pre-matching
DOMAIN,gdfp.gifshow.com,pre-matching
DOMAIN,mssdk.volces.com,pre-matching
DOMAIN,toblog.ctobsnssdk.com,pre-matching
DOMAIN,tdid.m.qq.com,pre-matching
DOMAIN,mon.zijieapi.com,pre-matching
DOMAIN,is.snssdk.com,pre-matching
DOMAIN,abtest-ch.snssdk.com,pre-matching
DOMAIN,dig.bdurl.net,pre-matching
DOMAIN,api-access.pangolin-sdk-toutiao-b.com,pre-matching
DOMAIN,api-access.pangolin-sdk-toutiao1.com,pre-matching
DOMAIN,log-api.pangolin-sdk-toutiao-b.com,pre-matching
DOMAIN,gromore.pangolin-sdk-toutiao.com,pre-matching
DOMAIN,sf3-fe-tos.pglstatp-toutiao.com,pre-matching
DOMAIN,log-api.pangolin-sdk-toutiao.com,pre-matching
DOMAIN-SUFFIX,api-access.pangolin-sdk-toutiao.com,pre-matching
DOMAIN-SUFFIX,mobads-pre-config.cdn.bcebos.com,pre-matching
DOMAIN-SUFFIX,fp-it.fengkongcloud.com,pre-matching
DOMAIN-SUFFIX,snssdk.irisdt.cn,pre-matching
DOMAIN,blued.irisdt.cn,pre-matching
DOMAIN-SUFFIX,ipi.shuzilm.cn,pre-matching
DOMAIN-SUFFIX,cnlogs.umengcloud.com,pre-matching
DOMAIN-SUFFIX,ulogs.umengcloud.com,pre-matching
DOMAIN-SUFFIX,ulogs.umeng.com,pre-matching
DOMAIN-SUFFIX,mobads.baidu.com,pre-matching
DOMAIN-SUFFIX,tk.anythinktech.com,pre-matching
DOMAIN-SUFFIX,ios.bugly.qq.com,pre-matching
DOMAIN-SUFFIX,adsmind.ugdtimg.com,pre-matching
DOMAIN-SUFFIX,pgdt.ugdtimg.com,pre-matching
DOMAIN-SUFFIX,mobads-logs.baidu.com,pre-matching
DOMAIN-SUFFIX,bgg.baidu.com,pre-matching
DOMAIN-SUFFIX,sf3-fe-tos.pglstatp-toutiao.com,pre-matching
DOMAIN-SUFFIX,ujoy.anythinktech.com,pre-matching
DOMAIN-SUFFIX,logs.amap.com,pre-matching
DOMAIN-SUFFIX,dualstack-logs.amap.com,pre-matching
DOMAIN-SUFFIX,iert.shuzilm.cn,pre-matching
DOMAIN-SUFFIX,iudd.shuzilm.cn,pre-matching
DOMAIN-SUFFIX,idaa.shuzilm.cn,pre-matching
DOMAIN-SUFFIX,ipv6.shuzilm.cn,pre-matching
DOMAIN-SUFFIX,caid.shuzilm.cn,pre-matching
DOMAIN-SUFFIX,a-nrzh6.data.emb-api.com,pre-matching
#著名跟踪器
DOMAIN-SUFFIX,umeng.com,pre-matching
DOMAIN-SUFFIX,uc.cn,pre-matching
DOMAIN-SUFFIX,anythinktech.com,pre-matching
#凤凰网
DOMAIN-SUFFIX,c01049em.ifeng.com,pre-matching
DOMAIN-SUFFIX,bdmap1.ifeng.com,pre-matching
DOMAIN-SUFFIX,bd3rd.ifeng.com,pre-matching
DOMAIN-SUFFIX,api.iclient.ifeng.com,pre-matching
DOMAIN-SUFFIX,survey.news.ifeng.com,pre-matching
DOMAIN-SUFFIX,uww6.ifeng.com,pre-matching
DOMAIN-SUFFIX,bm7c.ifeng.com,pre-matching
DOMAIN-SUFFIX,i.flive.ifeng.com,pre-matching
#微博
DOMAIN-SUFFIX,bootpreload.uve.weibo.com,pre-matching
DOMAIN-SUFFIX,fastimage.uve.weibo.com,pre-matching
DOMAIN-SUFFIX,adimg.vue.weibo.com,pre-matching
DOMAIN-SUFFIX,zymo.mps.weibo.com,pre-matching
DOMAIN-SUFFIX,weibomingzi.com,pre-matching
DOMAIN-SUFFIX,sdkapp.uve.weibo.com,pre-matching
DOMAIN-SUFFIX,promote.biz.weibo.cn,pre-matching
DOMAIN-SUFFIX,gw5.push.mcp.weibo.cn,pre-matching
DOMAIN-SUFFIX,gw6.push.mcp.weibo.cn,pre-matching
DOMAIN-SUFFIX,game.weibo.cn,pre-matching
DOMAIN-SUFFIX,adimg.uve.weibo.com,pre-matching
DOMAIN-SUFFIX,game.weibo.com,pre-matching
DOMAIN-SUFFIX,ads.viber.com,pre-matching
DOMAIN-SUFFIX,ads-d.viber.com,pre-matching
DOMAIN-SUFFIX,ads.aws.viber.com,pre-matching
DOMAIN-SUFFIX,alitui.weibo.com,pre-matching
DOMAIN-SUFFIX,dp.im.weibo.cn,pre-matching
DOMAIN-SUFFIX,biz.weibo.com.cn,pre-matching
DOMAIN-SUFFIX,biz.weibo.com,pre-matching
DOMAIN-SUFFIX,click.uve.weibo.com,pre-matching
DOMAIN-SUFFIX,wax.weibo.com,pre-matching
DOMAIN-SUFFIX,wbapp.uve.weibo.com,pre-matching
DOMAIN-SUFFIX,widget.weibo.com,pre-matching
DOMAIN-SUFFIX,dsp.edm.weibo.cn,pre-matching
DOMAIN-SUFFIX,alitui.weibo.com.cn,pre-matching
DOMAIN-SUFFIX,tui.weibo.com,pre-matching
DOMAIN-SUFFIX,wax.weibo.com.cn,pre-matching
DOMAIN-SUFFIX,ad.weibo.com,pre-matching
#迅雷版权
DOMAIN-SUFFIX,hub5idx.v6.shub.sandai.net,pre-matching
DOMAIN-SUFFIX,hub5emu.v6.shub.sandai.net,pre-matching
DOMAIN-SUFFIX,hub5btmain.v6.shub.sandai.net,pre-matching
#安全
DOMAIN-SUFFIX,staticfile.net,pre-matching
DOMAIN-SUFFIX,bootcdn.net,pre-matching
DOMAIN-SUFFIX,bootcss.com,pre-matching
DOMAIN-SUFFIX,polyfill.io,pre-matching
#DNS
DOMAIN-SUFFIX,httpdns-api.aliyuncs.com,pre-matching
DOMAIN-SUFFIX,httpdns-sc.aliyuncs.com,pre-matching
DOMAIN-SUFFIX,httpdns.c.cdnhwc2.com,pre-matching
DOMAIN-SUFFIX,kuaishou.httpdns.pro,pre-matching
DOMAIN-SUFFIX,httpdns.yunxindns.com,pre-matching
DOMAIN-SUFFIX,httpdns.n.netease.com,pre-matching
DOMAIN-SUFFIX,music.httpdns.c.163.com,pre-matching
DOMAIN-SUFFIX,lofter.httpdns.c.163.com,pre-matching
DOMAIN-SUFFIX,httpdns.push.oppomobile.com,pre-matching
DOMAIN-SUFFIX,httpdns.volcengineapi.com,pre-matching
DOMAIN-SUFFIX,httpdns.baidubce.com,pre-matching
DOMAIN-SUFFIX,httpsdns.baidu.com,pre-matching
DOMAIN-SUFFIX,httpdns.baidu.com,pre-matching
DOMAIN-SUFFIX,httpdns.meituan.com,pre-matching
DOMAIN-SUFFIX,httpdns.alicdn.com,pre-matching
DOMAIN-SUFFIX,dns.weibo.cn,pre-matching
DOMAIN-SUFFIX,dns.weixin.qq.com,pre-matching
DOMAIN-SUFFIX,dns.weixin.qq.com.cn,pre-matching
