#自定义
DOMAIN-SUFFIX,ottiptv.cc
#wise
DOMAIN-SUFFIX,mixpanel.com
DOMAIN-SUFFIX,datatheorem.com
DOMAIN-SUFFIX,singular.net
DOMAIN-SUFFIX,braze.eu
DOMAIN-SUFFIX,wise.com

#苹果地图
DOMAIN,gspe1-ssl.ls.apple.com
DOMAIN,gspe11-2-cn-ssl.ls.apple.com
DOMAIN,gspe12-cn-ssl.ls.apple.com
DOMAIN,gspe19-cn-ssl.ls.apple.com
DOMAIN,gspe19-2-cn-ssl.ls.apple.com
DOMAIN,gspe79-cn-ssl.ls.apple.com

#blue
DOMAIN-SUFFIX,bldimg.com
DOMAIN-SUFFIX,bkaivl2daed.com
DOMAIN-SUFFIX,blued.cn
DOMAIN-SUFFIX,wswebpic.com
DOMAIN-SUFFIX,irisdt.cn
DOMAIN-SUFFIX,idanlan.com
DOMAIN-SUFFIX,blued.com
DOMAIN-SUFFIX,irisdt.com
DOMAIN-SUFFIX,irisgw.com
DOMAIN-SUFFIX,irisgw.cn
DOMAIN-SUFFIX,blue-city.com
DOMAIN-SUFFIX,bldimg.cn
DOMAIN-SUFFIX,oong1e.com
DOMAIN-SUFFIX,bluecity.com
DOMAIN-SUFFIX,danlanlove.cn
DOMAIN-SUFFIX,aib8we.com
DOMAIN-SUFFIX,danlanlove.com
DOMAIN-SUFFIX,ourbluecity.com
DOMAIN-SUFFIX,danlan.org
DOMAIN-SUFFIX,gengle.net
