#ddns
DOMAIN,activity.757191.xyz
DOMAIN,bestprice.757191.xyz
DOMAIN-SUFFIX,757191.xyz

#WiFi连通性检查
DOMAIN,captive.apple.com

#局域网
DOMAIN-SUFFIX,ipv4only.arpa
DOMAIN-SUFFIX,ip6.arpa
DOMAIN-SUFFIX,in-addr.arpa

#IoT(orvibo)
DOMAIN-SUFFIX,orvibo.com
DOMAIN-SUFFIX,ys7.com
DOMAIN-SUFFIX,ictun.com

#CN.dns
DOMAIN,dns.alidns.com
DOMAIN,doh.pub
DOMAIN,doh.114dns.com
DOMAIN,doh.360.cn

#VPS
DOMAIN-SUFFIX,jjcruises.com
DOMAIN-SUFFIX,portablesubmarines.com
DOMAIN-SUFFIX,cloudflare-ech.com

#APN，苹果推送通知
DOMAIN-SUFFIX,push.apple.com
DOMAIN,api.push.apple.com
DOMAIN,gateway.push.apple.com
DOMAIN,feedback.push.apple.com
DOMAIN,courier.push.apple.com
IP-CIDR,17.249.0.0/16,no-resolve
IP-CIDR,17.252.0.0/16,no-resolve
IP-CIDR,17.57.144.0/22,no-resolve
IP-CIDR,17.188.128.0/18,no-resolve
IP-CIDR,17.188.20.0/23,no-resolve
IP-CIDR,2620:149:a44::/48,no-resolve
IP-CIDR,2403:300:a42::/48,no-resolve
IP-CIDR,2403:300:a51::/48,no-resolve
IP-CIDR,2a01:b740:a42::/48,no-resolve

#抖音
DOMAIN,lf3-static.bytednsdoc.com
DOMAIN,v5-dy-o-abtest.zjcdn.com
DOMAIN-SUFFIX,amemv.com
DOMAIN-SUFFIX,douyincdn.com
DOMAIN-SUFFIX,douyinpic.com
DOMAIN-SUFFIX,douyinstatic.com
DOMAIN-SUFFIX,douyinvod.com
DOMAIN-SUFFIX,idouyinvod.com
DOMAIN-SUFFIX,ixigua.com
DOMAIN-SUFFIX,ixiguavideo.com
DOMAIN-SUFFIX,pstatp.com
DOMAIN-SUFFIX,snssdk.com
DOMAIN-SUFFIX,toutiao.com

#DNS
IP-CIDR,114.114.114.114/32,no-resolve
IP-CIDR,114.114.115.115/32,no-resolve
IP-CIDR,1.12.12.12/32,no-resolve
IP-CIDR,223.5.5.5/32,no-resolve
IP-CIDR,223.6.6.6/32,no-resolve
IP-CIDR,119.29.29.29/32,no-resolve
IP-CIDR,180.76.76.76/32,no-resolve
IP-CIDR,180.184.1.1/32,no-resolve

